{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <p class="section-title px-5">
        <span class="px-2">Get In Touch</span>
      </p>
      <h1 class="mb-4">Contact Us For Any Query</h1>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-5">
        <div class="contact-form">
          <div id="success"></div>
          <form  id="contactForm" action="{% url 'contacts' %}" method="post">
            {% csrf_token %}
            <div class="control-group">
              <input
              name="name"
                type="text"
                class="form-control"
                id="name"
                placeholder="Your Name"
                required="required"
                data-validation-required-message="Please enter your name"
              />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Your Email"
                required="required"
                data-validation-required-message="Please enter your email"
              />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input
              name="subject"
                type="text"
                class="form-control"
                id="subject"
                placeholder="Subject"
                required="required"
                data-validation-required-message="Please enter a subject"
              />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <textarea
              name="message"
                class="form-control"
                rows="6"
                id="message"
                placeholder="Message"
                required="required"
                data-validation-required-message="Please enter your message"
              ></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div>
              <input type="submit"    class="btn btn-primary py-2 px-4"
              type="submit"
              id="sendMessageButton" value="send message">
           
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5 mb-5">
        <p>
          Examina has proven to be incredibly user-friendly. Our administrators and students have found the interface intuitive, which has significantly reduced the learning curve and enhanced their overall experience
        </p>
        <div class="d-flex">
          <i
            class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
            style="width: 45px; height: 45px"
          ></i>
          <div class="pl-3">
            <h5>Address</h5>
            <p>Kannur,Kerala,India</p>
          </div>
        </div>
        <div class="d-flex">
          <i
            class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
            style="width: 45px; height: 45px"
          ></i>
          <div class="pl-3">
            <h5>Email</h5>
            <p>examina22@gmail.com</p>
          </div>
        </div>
        <div class="d-flex">
          <i
            class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
            style="width: 45px; height: 45px"
          ></i>
          <div class="pl-3">
            <h5>Phone</h5>
            <p>+012 345 67890</p>
          </div>
        </div>
        <div class="d-flex">
          <i
            class="far fa-clock d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
            style="width: 45px; height: 45px"
          ></i>
          <div class="pl-3">
            <h5>Opening Hours</h5>
            <strong>Sunday - Friday:</strong>
            <p class="m-0">08:00 AM - 05:00 PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if messages %}
    {% for msg in messages %}
      <script>
        alert('{{msg}}')
      </script>
    {% endfor %}
{% endif %}
{% endblock %}

