{% extends 'siteadmin/admin_base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
      <div class="col-lg-6 text-center text-lg-left">
        <h4 class="text-white mb-4 mt-5 mt-lg-0"> <h1> welcome {{user.username}}</h1>
        </h4>
        <h1 class="display-3 font-weight-bold text-white">
            Admin Dashboard
        </h1>
        <p class="text-white mb-4">
            Welcome to the Admin Dashboard. Here, you can oversee and manage all key aspects of the Kids Learning Center, 
            including student progress, teacher performance, event planning, and administrative tasks. Stay informed and make 
            impactful decisions to ensure a thriving learning environment for all.
        </p>
        
        <a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
        <img class="img-fluid mt-5" src="{% static 'img/st.png' %}" alt="" />
      </div>
    </div>
  </div>
  <!-- Header End -->

  <!-- Facilities Start -->
  <div class="container-fluid pt-5">
    <div class="container pb-3">
      <div class="row">
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="d-flex bg-light shadow-sm border-top rounded mb-4"
            style="padding: 30px"
          >
            <i
              class="flaticon-017-toy-car h1 font-weight-normal text-primary mb-3"
            ></i>
            <div class="pl-4">
              <a href="{% url 'ticket_list' %}"><h4>view tickets</h4></a>
              <p class="m-0">
                Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                lorem amet elitr vero...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="d-flex bg-light shadow-sm border-top rounded mb-4"
            style="padding: 30px"
          >
            <i
              class="flaticon-025-sandwich h1 font-weight-normal text-primary mb-3"
            ></i>
            <div class="pl-4">
              <a href="{% url 'viewinstitute' %}"><h4>View institution</h4></a>
              
              <p class="m-0">
                Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                lorem amet elitr vero...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="d-flex bg-light shadow-sm border-top rounded mb-4"
            style="padding: 30px"
          >
            <i
              class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"
            ></i>
            <div class="pl-4">
              <h4>Educational Tour</h4>
              <p class="m-0">
                Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                lorem amet elitr vero...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Facilities Start -->


  <!-- Class End -->


{% endblock %}