{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
        <div class="row align-items-center px-3">
          <div class="col-lg-6 text-center text-lg-left">
            <h1 class="display-3 font-weight-bold text-white">
              Empowering Your Academic Journey 
            </h1>
            <p class="text-white mb-4">
              Welcome to Examina,
              
             a comprehensive online examination management platform tailored for educational institutions and organizations.
             Discover the future of examinations with Examina – where convenience, efficiency, and security come together to enhance your educational journey.


            </p>
          </div>
          <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="{% static 'img/st.png' %}" alt="" />
          </div>
        </div>
      </div>
      <div class="container-fluid pt-5">
        <div class="container pb-3">
          <div class="row">
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px">
                <i
                  class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"
                ></i>
                <div class="pl-4">
                  <h4>Convenient Online Exams</h4>
                  <p class="m-0">
                    Students can take exams from anywhere with an internet connection, ensuring flexibility and accessibility.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i
                  class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"
                ></i>
                <div class="pl-4">
                  <h4>Seamless Registration</h4>
                  <p class="m-0">
                    Simplified exam registration process saves time and effort for both students and administrators.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i
                  class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"
                ></i>
                <div class="pl-4">
                  <h4>Automated Grading</h4>
                  <p class="m-0">
                    Instant grading of exams reduces the workload on educators and provides immediate feedback to students.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i
                  class="flaticon-017-toy-car h1 font-weight-normal text-primary mb-3"
                ></i>
                <div class="pl-4">
                  <h4>Enhanced Security</h4>
                  <p class="m-0">
                    Robust security measures ensure fair and unbiased testing, protecting the integrity of exams.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i
                  class="flaticon-025-sandwich h1 font-weight-normal text-primary mb-3"
                ></i>
                <div class="pl-4">
                  <h4>Intuitive Exam Creation and Scheduling</h4>
                  <p class="m-0">
                    Intuitive Exam Creation and Scheduling
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i
                  class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"
                ></i>
                <div class="pl-4">
                  <h4>User-Friendly Interface</h4>
                  <p class="m-0">
                    Enjoy a clean and intuitive interface that makes navigation and usage a breeze for both students and administrators.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Facilities Start -->
  
      <!-- About Start -->
      <div class="container-fluid py-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <img
                class="img-fluid rounded mb-5 mb-lg-0"
                src="{% static 'img/mypic.jpg' %}"
                alt=""
              />
            </div>
            <div class="col-lg-7">
              <p class="section-title pr-5">
                <span class="pr-2">Learn About Us</span>
              </p>
              <h1 class="mb-4">Examina ensures a fair and effecient examination experience.</h1>
              <p>
                Examina offers a secure and user-friendly environment for administering,taking,and managing exams over the internet.
                With features like convinient online access,
                streamlined registration,Automatedgrading,and robust security.
              </p>
              <div class="row pt-2 pb-4">
                <div class="col-6 col-md-4">
                  <img class="img-fluid rounded" src="{% static 'img/about-2.jpg'%}" alt="" />
                </div>
                <div class="col-6 col-md-8">
                  <ul class="list-inline m-0">
                    <li class="py-2 border-top border-bottom">
                      <i class="fa fa-check text-primary mr-3"></i>Seamless Convenience
                    </li>
                    <li class="py-2 border-bottom">
                      <i class="fa fa-check text-primary mr-3"></i>Effeccient Processes
                    </li>
                    <li class="py-2 border-bottom">
                      <i class="fa fa-check text-primary mr-3"></i>Enhanced Security and Analytics
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About End -->
  
     
  
      <!-- Testimonial Start -->
      <div class="container-fluid py-5">
        <div class="container p-0">
          <div class="text-center pb-2">
            <p class="section-title px-5">
              <span class="px-2">Testimonial</span>
            </p>
            <h1 class="mb-4">What Institutions Say!</h1>
          </div>
          <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item px-3">
              <div class="bg-light shadow-sm rounded mb-4 p-4">
                <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                "Examina has proven to be incredibly user-friendly. Our administrators and students have found the interface intuitive, which has significantly reduced the learning curve and enhanced their overall experience."
              </div>
              <div class="d-flex align-items-center">
                <img
                  class="rounded-circle"
                  src="{% static 'img/testimonial-1.jpg'%}"
                  style="width: 70px; height: 70px"
                  alt="Image"
                />
                <div class="pl-3">
                  <h5>Jason Maxwell</h5>
                  <i>principal,Trinity University</i>
                </div>
              </div>
            </div>
            <div class="testimonial-item px-3">
              <div class="bg-light shadow-sm rounded mb-4 p-4">
                <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                "We have been impressed with Examina's commitment to security. The platform uses robust encryption methods and secure protocols, ensuring that our exams are conducted in a safe and secure environment."
              </div>
              <div class="d-flex align-items-center">
                <img
                  class="rounded-circle"
                  src="{% static 'img/testimonial-2.jpg'%}"
                  style="width: 70px; height: 70px"
                  alt="Image"
                />
                <div class="pl-3">
                  <h5>Smitha Thomas</h5>
                  <i>Professor,ML University</i>
                </div>
              </div>
            </div>
            <div class="testimonial-item px-3">
              <div class="bg-light shadow-sm rounded mb-4 p-4">
                <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                Examina provides a reliable platform for online exams. We have experienced minimal technical issues and downtime, allowing us to conduct exams smoothly without any disruptions."
              </div>
              <div class="d-flex align-items-center">
                <img
                  class="rounded-circle"
                  src="{% static 'img/testimonial-3.jpg'%}"
                  style="width: 70px; height: 70px"
                  alt="Image"
                />
                <div class="pl-3">
                  <h5>John Gabriel</h5>
                  <i>Principal,Ohio Public School</i>
                </div>
              </div>
            </div>
            <div class="testimonial-item px-3">
              <div class="bg-light shadow-sm rounded mb-4 p-4">
                <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                : "Examina offers a wide range of features that have greatly enhanced our examination process. Automated grading and real-time feedback have saved us time and effort while helping our students monitor their performance."
              </div>
              <div class="d-flex align-items-center">
                <img
                  class="rounded-circle"
                  src="{% static 'img/testimonial-4.jpg'%}"
                  style="width: 70px; height: 70px"
                  alt="Image"
                />
                <div class="pl-3">
                  <h5>James P</h5>
                  <i>Student,DC University</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial End -->
  
    
          </div>
        </div>
      </div>
     {% endblock %}